<div class="field is-grouped has-addons">
    {% if perms.loans.change_loan %}
    {% if object.status == 'waiting' %}
    <p class="control">
        <a href="{% url 'loans:loan_release_confirm'  object.uuid %}" class="button is-primary">
            <span class="icon is-small">
                <i class="fa fa-money"></i>
            </span>
            <span>Release</span>
        </a>
    </p>
    {% endif %}
    {% if object.status != 'closed' %}
    <p class="control">
        <a href="{% url 'loans:loan_close_confirm'  object.uuid %}" class="button is-danger">
            <span class="icon is-small">
                <i class="fa fa-close"></i>
            </span>
            <span>Close</span>
    </a>
    </p>
    {% endif %}
    {% endif %}
    {% if perms.loans.delete_loan %}
    <p class="control">
        <a href="{% url 'loans:loan_delete'  object.uuid %}" class="button is-black">
            <span class="icon is-small">
                <i class="fa fa-remove"></i>
            </span>
            <span>Delete</span>
    </a>
    </p>
    {% endif %}
    {% if perms.loans.change_loan %}
    {% if object.status == 'released' %}
    <p class="control">
        <a href="{% url 'loans:loan_add_payment'  object.uuid %}" class="button is-primary">
            <span class="icon is-small">
                <i class="fa fa-plus"></i>
            </span>
            <span>Add Payment</span>
    </a>
    </p>
    {% if object.payment_method == 'interest_only' %}
    <p class="control">
        <a href="{% url 'loans:loan_pay_balance'  object.uuid %}" class="button is-success">
            <span class="icon is-small">
                <i class="fa fa-money"></i>
            </span>
            <span>Pay Balance</span>
    </a>
    <p class="control">
        <a href="{% url 'loans:loan_unpay_balance'  object.uuid %}" class="button is-danger">
            <span class="icon is-small">
                <i class="fa fa-money"></i>
            </span>
            <span>Unpay Balance</span>
    </a>
    </p>
    {% endif %}
    <p class="control">
        <a href="{% url 'loans:loan_full_confirm'  object.uuid %}" class="button is-primary">
            <span class="icon is-small">
                <i class="fa fa-money"></i>
            </span>
            <span>Full Payment</span>
    </a>
    </p>
    {% endif %}
    {% endif %}
</div>