{% load bank_filters %}
<table class="table is-bordered is-striped">
    <tbody>
        <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Principal</th>
                <th>Proceeds</th>
                <th>Interest Rate</th>
                <th>Schedule</th>
                <th>Payment Method</th>
                <th>Term</th>
                <th>Release Date</th>
                <th>Expected</th>
                <th>Collected</th>
            </tr>
        </thead>{% for tx in loans %}
        <tr>
            <td><a href="{{ tx.get_absolute_url }}">{{ tx.pk }}</a></td>
            <td>{{ tx.status | title }}</td>
            <td>{{ tx.principal | pretty_money:tx.borrower.branch.currency }}</td>
            <td>{{ tx.proceeds | pretty_money:tx.borrower.branch.currency }}</td>
            <td>{{ tx.interest_rate }}%</td>
            <td>{{ tx.schedule | title }}</td>
            <td>{{ tx.get_payment_method_display | title }}</td>
            <td>{{ tx.term | title }}</td>
            <td>{{ tx.released_date | date:"Y/m/d" }}</td>
            <td>{{ tx.expected | pretty_money:tx.borrower.branch.currency }}</td>
            <td>{{ tx.collected | pretty_money:tx.borrower.branch.currency }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
