<div class="field is-grouped has-addons">
    {% if not tx.paid %}
    <p class="control">
        <a href="{% url 'loans:loan_pay' object.uuid tx.uuid %}" class="button is-primary">
            <span class="icon is-small">
                <i class="fa fa-money"></i>
            </span>
            <span>Pay {{ tx.amount_due }}</span>
        </a>
    </p>
    {% endif %} {% if tx.paid and object.status != 'closed' %}
    <p class="control">
        <a href="{% url 'loans:loan_unpay' object.uuid tx.uuid %}" class="button is-blank">
            <span class="icon is-small">
                <i class="fa fa-minus"></i>
            </span>
            <span>Unpay</span>
        </a>
    </p>
    {% endif %} {% if not tx.paid and object.status != 'closed' and tx.is_late and not tx.late_fee_applied %}
    <p class="control">
        <a href="{% url 'loans:loan_mark_late' object.uuid tx.uuid %}" class="button is-danger">
            <span class="icon is-small">
                <i class="fa fa-minus"></i>
            </span>
            <span>Mark Late</span>
        </a>
    </p>
    {% endif %} {% if not tx.paid and object.status != 'closed' and tx.is_late  %}
    <p class="control">
        <a href="{% url 'loans:loan_apply_interest' object.uuid tx.uuid %}" class="button is-danger">
            <span class="icon is-small">
                <i class="fa fa-minus"></i>
            </span>
            <span>Apply Interest</span>
        </a>
    </p>
    {% endif %}

</div>