<section class="section">
    <div class="container">
        <div class="tabs is-medium">
        <ul>
            <li class="{% if tab == "loan" %}is-active{% endif %}"><a href="{{ object.get_absolute_url }}">Loans</a></li>
            <li class="{% if tab == "profile" %}is-active{% endif %}"><a href="{% url 'clients:client_details' uuid=object.uuid tab="profile"%}">Profile</a></li>
            <li class="{% if tab == "comments" %}is-active{% endif %}"><a href="{% url 'clients:client_details' uuid=object.uuid tab="comments"%}">Comments</a></li>
        </ul>
        </div>
        {% if loans and tab == "loan" %} {% include "loans/_loans_list.html" %} {% endif %}
        {% if notes and tab == "comments" %} {% include "clients/_notes_list.html" %} {% endif %}
        {% if tab == "profile" %} {% include "clients/_profile.html" %} {% endif %}
    </div>
</section>