{% extends 'base.html' %} {% load bank_filters %} {% block title %} Loans {% endblock %} {# #} {% block content %}

<section class="section">
    <div class="container">
        <h1 class="title">
            Loans
        </h1>
        <br> {% include "pagination.html" %}
        <br>
        <table class="table is-striped is-narrow">
            <tbody>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Borrower</th>
                        <th>Created Date</th>
                        <th>Status</th>
                        <th>Principal</th>
                        <th>Proceeds</th>
                        <th>Interest Rate</th>
                        <th>Schedule</th>
                        <th>Term</th>
                        <th>Release Date</th>
                        <th>Expected</th>
                        <th>Collected</th>
                    </tr>
                </thead>{% for tx in object_list %}
                <tr>
                    <td><a href="{{ tx.get_absolute_url }}">{{ tx.pk }}</a></td>
                    <td><a href="{{ tx.borrower.get_absolute_url }}">{{ tx.borrower.full_name | title }}</td>
                    <td>{{ tx.created_date | date:"Y/m/d" }}</td>
                    <td>{{ tx.status | title }}</td>
                    <td>{{ tx.principal | pretty_money:tx.borrower.branch.currency }}</td>
                    <td>{{ tx.proceeds | pretty_money:tx.borrower.branch.currency }}</td>
                    <td>{{ tx.interest_rate }}%</td>
                    <td>{{ tx.schedule | title }}</td>
                    <td>{{ tx.term | title }}</td>
                    <td>{{ tx.released_date | date:"Y/m/d" }}</td>
                    <td>{{ tx.expected | pretty_money:tx.borrower.branch.currency }}</td>
                    <td>{{ tx.collected | pretty_money:tx.borrower.branch.currency }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
