{% extends 'base.html' %} {% load bank_filters %} {% block title %}Release Loan {{ loan.pk }}{% endblock %} {############}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
            </div>
            <div class="column">
                <h1 class="title">
                    Close Loan {{ loan.pk }}
                </h1>
                <p>Are you sure you want to close this loan?</p>
                <p>This means the loan is not active anymore!</p>
                <strong>Once closed, it cannot be undone!</strong>
                <br>
                <div class="field is-grouped">
                    <a class="button is-success" href="{% url 'loans:loan_close' loan.uuid %}">Yes, Close it</a>
                    <a class="button is-danger" href="{{ loan.get_absolute_url }}">No, Never Mind</a>
                </div>

            </div>
            <div class="column">
            </div>
        </div>
    </div>
</section>
{% endblock %}