{% extends 'base.html' %} {% load bank_filters %} {% block title %}Delete Loan {{ object.pk }}{% endblock %} {############}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
            </div>
            <div class="column">
                <h1 class="title">
                    Delete Loan {{ object.pk }}
                </h1>
                <p>Are you sure you want to delete this loan?</p>
                <strong>Once delete, it cannot be undone!</strong>
                <br>
                <form method="post">{% csrf_token %} {{ form.non_field_errors }}
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-primary">Delete</button>
                        </div>
                        <a class="button is-danger" href="{{ loan.get_absolute_url }}">No, Never Mind</a>
                    </div>
                </form>
            </div>
            <div class="column">
            </div>
        </div>
    </div>
</section>
{% endblock %}