 {% load bank_filters %}

<table class="table is-bordered is-striped is-narrow">
    <tbody>
        <tr>
            <th>Total Proceeds</th>
            <td><b>{{ object.proceeds | pretty_money:object.borrower.branch.currency }}</b></td>
        </tr>
        <tr>
            <th>Notarial Fee</th>
            <td>{{ object.notarial_fee | pretty_money:object.borrower.branch.currency }}</td>
        </tr>
        <tr>
            <th>Processing Fee</th>
            <td>{{ object.processing_fee | pretty_money:object.borrower.branch.currency }}</td>
        </tr>
        <tr>
            <th>Insurance Fee</th>
            <td>{{ object.insurance_fee | pretty_money:object.borrower.branch.currency }}</td>
        </tr>
        <tr>
            <th>Total Deducted Fees</th>
            <td>{{ object.deducted_fee | pretty_money:object.borrower.branch.currency }}</td>
        </tr>
        <tr>
            <th>Total Loan</th>
            <td>{{ object.total_loan | pretty_money:object.borrower.branch.currency }}</td>
        </tr>
        <tr>
            <th>Total Interest</th>
            <td>{{ object.total_interest | pretty_money:object.borrower.branch.currency }}</td>
        </tr>
        <tr>
            <th>Amount Per Payment</th>
            <td>{{ object.amount_per_payment | pretty_money:object.borrower.branch.currency }}</td>
        </tr>
        {% if object.payment_method != "interest_only" %}
        <tr>
            <th>Number of Payments</th>
            <td>{{ object.total_number_of_payments }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Payment Frequency</th>
            <td>Every {{ object.payment_frequency }} day{{ object.payment_frequency | pluralize }}</td>
        </tr>
        {% if object.payment_method == "interest_only" %}
        <tr>
            <th>Outstanding Balance</th>
            <td>{{ object.outstanding_balance | pretty_money:object.borrower.branch.currency }}</td>
        </tr>
        {% elif object.payment_method == "compound_interest" %}
        <tr>
            <th>Past Due</th>
            <td>{{ object.past_due | pretty_money:object.borrower.branch.currency }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Collected</th>
            <td>{{ object.collected | pretty_money:object.borrower.branch.currency }}</td>
        </tr>
    </tbody>
</table>