 {% load bank_filters %}

<table class="table is-bordered is-striped is-narrow">
    <tbody>
        <tr>
            <th>Borrower</th>
            <td><a href="{{ object.borrower.get_absolute_url }}">{{ object.borrower.full_name | title }}</a></td>
        </tr>
        <tr>
            <th>Branch</th>
            <td><a href="{{ object.borrower.branch.get_absolute_url }}">{{ object.borrower.branch.name }}</a></td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ object.status | title }}</a>
            </td>
        </tr>
        <tr>
            <th>Created Date</th>
            <td>{{ object.created_date | date:"Y/m/d" }}</a>
            </td>
        </tr>
        {% if object.status == 'released' %}
        <tr>
            <th>Release Date</th>
            <td>{{ object.released_date | date:"Y/m/d" }}</a>
            </td>
        </tr>

        {% endif %}
        <tr>
            <th>Principal</th>
            <td>{{ object.principal | pretty_money:object.borrower.branch.currency }}</td>
        </tr>
        <tr>
            <th>Interest Rate</th>
            <td>{{ object.interest_rate }}%</td>
        </tr>
        <tr>
            <th>Late Fee Rate</th>
            <td>{{ object.late_fee_rate }}%</td>
        </tr>
        <tr>
            <th>Grace Period</th>
            <td>{{ object.grace_period }} day{{ object.grace_period|pluralize }}</td>
        </tr>
        <tr>
            <th>Term</th>
            <td>{{ object.term }} month{{ object.term|pluralize }}</td>
        </tr>
        <tr>
            <th>Schedule</th>
            <td>{{ object.schedule | title }}</td>
        </tr>
        <tr>
            <th>Payment Method</th>
            <td>{{ object.get_payment_method_display | title }}</td>
        </tr>
    </tbody>
</table>