{% extends 'base.html' %} {% load bank_filters %} {% block title %}Release Loan {{ loan.pk }}{% endblock %} {############}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
            </div>
            <div class="column">
                <h1 class="title">
                    Full Payment Recieved on Loan {{ loan.pk }}
                </h1>
                <h3 class="subtitle">Total Collected: {{ loan.collected | pretty_money:loan.borrower.branch.currency }}</h3>
                {% if loan.payment_method == "interest_only" %}
                    <h3 class="subtitle">Outstanding Balance: {{ loan.outstanding_balance | pretty_money:loan.borrower.branch.currency }}</h3>
                {% elif loan.payment_method == "compound_interest" %}
                    <h3 class="subtitle">Total Expected: {{ loan.expected | pretty_money:loan.borrower.branch.currency }}</h3>
                {% endif %}
                <p>Are you sure you want to mark this loan as complete?</p>
                <p>This means the full payment was recieved.</p>
                <p>The loan will be closed once a full payment is recieved</p>
                <strong>Once it is fully paid, it cannot be undone!</strong>
                <br>
                <div class="field is-grouped">
                    <a class="button is-success" href="{% url 'loans:loan_full' loan.uuid %}">Yes, I have recieved the full payment</a>
                    <a class="button is-danger" href="{{ loan.get_absolute_url }}">No, Never Mind</a>
                </div>

            </div>
            <div class="column">
            </div>
        </div>
    </div>
</section>
{% endblock %}