{% extends 'base.html' %} {% load bank_filters %} {% block title %}New Payment for Loan {{ object.pk }}{% endblock %} {% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">
                <h1 class="title">
                    New Payment for Loan {{ object.pk }}
                </h1>
                <br>
                <form method="post">{% csrf_token %} {{ form.non_field_errors }}
                    <div class="field">
                        <div class="control">
                            {{ form.as_p }}
                        </div>
                        <div class="control">
                            <button class="button is-primary">Add</button>
                            <a class="button is-danger" href="{{ object.get_absolute_url }}">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}