{% extends 'base.html' %} {% load bank_filters %} {% block title %}Update Payment {{ payment.pk }}{% endblock %} {% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">
                <h1 class="title">
                    Update Payment {{ payment.pk }}
                </h1>
                <br>
                <p>This Payment is {% if not payment.is_late %}not{% endif %} late</p>
                <p>This Payment is {% if not payment.paid %}not{% endif %} paid</p>
                <br>
                <form method="post">{% csrf_token %} {{ form.non_field_errors }}
                    <div class="field">
                    </div>
                    <div class="field">
                        <div class="control">
                            {{ form.as_p }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary">Update</button>
                            <a class="button is-black" href="{{ object.get_absolute_url }}">Cancel</a>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <a class="button is-danger" href="{% url 'loans:loan_delete_payment' object.uuid payment.uuid %}">Delete This Payment</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}