{% extends 'base.html' %} {% load bank_filters %} {% block title %}New Loan{% endblock %} {% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">
                <h1 class="title">
                    New Loan
                </h1>
                <br>
                <form method="post">{% csrf_token %} {{ form.non_field_errors }}
                    <div class="field">

                        <label class="label" for="{{ form.principal.id_for_label }}">{{ form.principal.label }}</label>
                        <div class="control">
                            {{ form.principal }}
                        </div>
                        <p class="help is-error">{{ forms.principal.errors }}</p>

                        <label class="label" for="{{ form.interest_rate.id_for_label }}">{{ form.interest_rate.label }} ({{ form.interest_rate.help_text }})</label>
                        <div class="control">
                            {{ form.interest_rate }}
                        </div>
                        <p class="help is-error">{{ forms.intetest_rate.errors }}</p>

                        <label class="label" for="{{ form.term.id_for_label }}">Term ({{ form.term.help_text }})</label>
                        <div class="control">
                            {{ form.term }}
                        </div>
                        <p class="help is-error">{{ forms.term.errors }}</p>

                        <label class="label" for="{{ form.schedule.id_for_label }}">{{ form.schedule.label }}</label>
                        <div class="control">
                            <div class="select">
                                {{ form.schedule }}
                            </div>
                        </div>
                        <p class="help is-error">{{ forms.schedule.errors }}</p>

                        <label class="label" for="{{ form.payment_method.id_for_label }}">{{ form.payment_method.label }}</label>
                        <div class="control">
                            <div class="select">
                                {{ form.payment_method }}
                            </div>
                        </div>
                        <p class="help is-error">{{ forms.payment_method.errors }}</p>

                        <label class="label" for="{{ form.grace_period.id_for_label }}">{{ form.grace_period.label }} ({{ form.grace_period.help_text }})</label>
                        <div class="control">
                                {{ form.grace_period }}
                        </div>
                        <p class="help is-error">{{ forms.grace_period.errors }}</p>

                        <label class="label" for="{{ form.late_fee_rate.id_for_label }}">{{ form.late_fee_rate.label }} (%)</label>
                        <div class="control">
                            {{ form.late_fee_rate }}
                        </div>
                        <p class="help is-error">{{ forms.late_fee_rate.errors }}</p>

                        <label class="label" for="{{ form.notarial_fee.id_for_label }}">{{ form.notarial_fee.label }} </label>
                        <div class="control">
                                {{ form.notarial_fee }}
                        </div>
                        <p class="help is-error">{{ forms.notarial_fee.errors }}</p>

                        <label class="label" for="{{ form.insurance_fee.id_for_label }}">{{ form.insurance_fee.label }} </label>
                        <div class="control">
                                {{ form.insurance_fee }}
                        </div>
                        <p class="help is-error">{{ forms.insurance_fee.errors }}</p>

                        <label class="label" for="{{ form.processing_fee.id_for_label }}">{{ form.processing_fee.label }} </label>
                        <div class="control">
                                {{ form.processing_fee }}
                        </div>
                        <p class="help is-error">{{ forms.processing_fee.errors }}</p>



                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}