{% extends 'base.html' %} {% load bank_filters %} {% block title %}Release Loan {{ loan.pk }}{% endblock %} {############}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
            </div>
            <div class="column">
                <h1 class="title">
                    Delete Payment {{ object.pk }}
                </h1>
                <p>Are you sure you want to release this payment?</p>
                <strong>Once deleted, it cannot be undone!</strong>
                <br>
                <form method="post">{% csrf_token %} {{ form.non_field_errors }}
                    <div class="field">
                        <div class="control">
                            {{ form.as_p }}
                        </div>
                        <div class="control">
                            <button class="button is-primary">Yes Delete This Payment</button>
                            <a class="button is-danger" href="{{ object.loan_id.get_absolute_url }}">No, Never Mind</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column">
            </div>
        </div>
    </div>
</section>
{% endblock %}