{% extends 'base.html' %} {% load bank_filters %} {% block title %} Loan {{ object.pk }} {% endblock %} {###########w#####}
{% block content %}


<section class="section">
    <div class="container">
        <h1 class="title">
            Loan {{ object.pk }}
        </h1>
        {% include "loans/_action_buttons.html" %}
        <div class="columns">
            <div class="column">
                {% include "loans/details.html" %}
            </div>
            <div class="column">
                {% include "loans/details2.html" %}
            </div>
        </div>
    </div>
</section>
{% if object.status != 'waiting' %}
<section class="section">
    <div class="container">
        <h1 class="title">
            Payments
        </h1>
        {% include 'loans/payments.html' %}
    </div>
</section>
{% endif %} {% endblock %}