{% extends 'base.html' %} {% load bank_filters %}{% block title %}Pay Oustanding Balance of Loan {{ loan.pk }}{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">
                <h1 class="title">
                     Pay oustanding balance of Loan {{ loan.pk }}
                </h1>
                <h3 class="subtitle">Outstanding Balance: {{ loan.outstanding_balance | pretty_money:loan.borrower.branch.currency }}</h3>
                <br>
                <form method="post">{% csrf_token %} {{ form.non_field_errors }}
                    <div class="field">

                        <label class="label" for="{{ form.amount.id_for_label }}">{{ form.amount.label }}</label>
                        <div class="control">
                            {{ form.amount }}
                        </div>
                        <p class="help is-error">{{ forms.amount.errors }}</p>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-primary">Pay</button>
                        </div>
                        <div class="control">
                            <a href="{% url 'loans:loan_details' loan.uuid %}" class="button is-danger">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}