 {% load bank_filters %}
<h3 class="subtitle">{{ object.get_payment_method_display }}</h3>
<table class="table is-bordered is-striped is-narrow">
    <tbody>
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Due Date</th>
                <th>Amount Due</th>
                <th>Paid</th>
                <th>Paid Date</th>
                <th>Late</th>
                <th>Actions</th>
            </tr>
        </thead>{% for tx in payments %}
        <tr>
            <td><a href="{{ tx.get_absolute_url }}">{{ forloop.counter }}</a></td>
            <td>{{ tx.pk }}</td>
            <td>{{ tx.due_date | date:"Y/m/d" }}</td>
            <td {% if tx.late_fee_applied %}class="is-marked-late"{% endif %}>{{ tx.amount_due | pretty_money:object.borrower.branch.currency }}</td>
            <td>{{ tx.paid }}</td>
            <td>{{ tx.paid_date | date:"Y/m/d" }}</td>
            <td class="{% if tx.is_late or tx.late_fee_applied %}is-error{% else %}is-on-time{% endif %}">{{ tx.is_late }}</td>
            <td>{% include "loans/_payment_buttons.html" %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>