{% extends 'base.html' %} {% load bank_filters %} {% block title %}Payment Query{% endblock %} {% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <h1 class="title">
                    Payment Query
                </h1>
                <p>Return the payments due for a given date range</p>
                <br>
                <form method="post">{% csrf_token %} {{ form.non_field_errors }}
                    <div class="field">
                        <div class="control">
                            {{ form.as_p }}
                        </div>
                        <div class="control">
                            <button class="button is-primary">Query</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}