{% extends 'base.html' %} {% load bank_filters %} {% block title %}Release Loan {{ loan.pk }}{% endblock %} {############}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
            </div>
            <div class="column">
                <h1 class="title">
                    Release Loan {{ loan.pk }} to {{ loan.borrower.full_name | title }}
                </h1>
                <h3 class="subtitle">Proceeds: {{ loan.proceeds | pretty_money:loan.borrower.branch.currency }}</h3>
                <p>Are you sure you want to release this loan?</p>
                <strong>Once released, it cannot be undone!</strong>
                <br>
                <form method="post">{% csrf_token %} {{ form.non_field_errors }}
                    <div class="field">
                        <div class="control">
                            {{ form.as_p }}
                        </div>
                        <div class="control">
                            <button class="button is-primary">Release</button>
                            <a class="button is-danger" href="{{ loan.get_absolute_url }}">No, Never Mind</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column">
            </div>
        </div>
    </div>
</section>
{% endblock %}