 {% load bank_filters %}
<table class="table is-bordered is-striped is-narrow">
    <tbody>
        <thead>
            <tr>
                <th>ID</th>
                <th>Loan</th>
                <th>Borrower</th>
                <th>Due Date</th>
                <th>Amount Due</th>
                <th>Paid</th>
                <th>Paid Date</th>
                <th>Late</th>
            </tr>
        </thead>{% for tx in payments %}
        <tr>
            <td>{{ tx.pk }}</td>
            <td><a href="{{ tx.loan_id.get_absolute_url }}">{{ tx.loan_id.pk  }}</a></td>
            <td><a href="{{ tx.loan_id.borrower.get_absolute_url }}">{{ tx.loan_id.borrower.full_name | title }}</a></td>
            <td>{{ tx.due_date | date:"Y/m/d" }}</td>
            <td>{{ tx.amount_due | pretty_money:tx.loan_id.borrower.branch.currency }}</td>
            <td>{{ tx.paid }}</td>
            <td>{{ tx.paid_date | date:"Y/m/d" }}</td>
            <td class="{% if tx.is_late and not tx.paid %}is-error{% else %}is-on-time{% endif %}">{{ tx.is_late }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>