{% extends 'base.html' %} {% load bank_filters %}{% block title %}Dashboard{% endblock %} {% block content %}

<section class="section">
    <div class="container">
        <h1 class="title">
            Welcome!
        </h1>
        <i>All times and dates are displayed in Asia/Manila time</i>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">
                <h1 class="title">
                    Branches
                </h1>
                {% if not banks %}
                <p><a href="{% url 'banks:new' %}">Create a bank</a></p>{% else %} {% include "banks/_banks_balance.html" %}
                {% endif %}
            </div>
            <div class="column">
                <h1 class="title">
                    Recent Transactions
                </h1>
                {% if not transactions %}
                <p>None</p> {% else %} {% include "banks/_recent_transactions.html" %} {% endif %}
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title">
                    Upcoming Payments
                </h1>
                {% if not payments %}
                <p>No Payments</p>{% else %} {% include "dashboard/_payments.html" %} {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}