{% extends 'base.html' %} {% block title %}Loan Calculator Results{% endblock %} {% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">
            Loan Calculator Results
        </h1>
        <p>Principal: {{ object.principal }}</p>
        <p>Interest Rate: {{ object.interest_rate }}%</p>
        <p>Term: {{ object.term }} days</p>
        <p>Schedule: {{ object.schedule }}</p>
        <p>Borrower: {{ object.borrower.full_name | title }}</p>
        <p>Status: {{ object.status }}</p>

        <hr>

        <p>Amount per payment: {{ object.amount_per_payment }}</p>
        <p>Payments per month: {{ object.payments_per_month }}</p>
        <p>Total number of payments: {{ object.total_number_of_payments }}</p>
        <p>Payment Frequency: every {{ object.payment_frequency }} days</p>

        <hr>

        <p>Proceeds: {{ object.proceeds }}</p>
        <p>Total Interest: {{ object.total_interest }}</p>
        <p>Total Loan: {{ object.total_loan }}</p>

        <p>Total Expected: {{ object.expected }}</p>
        <p>Total Collected: {{ object.collected }}</p>

        <hr> {% for payment in payments %}
        <p>{{ payment }}</p>

        {% endfor %} {{ object.delete }}
    </div>
</section>
{% endblock %}