{% extends 'base.html' %} {% load bank_filters %} {% block title %}New Loan Calculator{% endblock %} {% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third">
                <h1 class="title">
                    Loan Calculator
                </h1>
                <form method="post">{% csrf_token %} {{ form.non_field_errors }}
                    <div class="field">

                        <label class="label" for="{{ form.principal.id_for_label }}">{{ form.principal.label }}</label>
                        <div class="control">
                            {{ form.principal }}
                        </div>
                        <p class="help is-error">{{ forms.principal.errors }}</p>

                        <label class="label" for="{{ form.interest_rate.id_for_label }}">{{ form.interest_rate.label }} (%)</label>
                        <div class="control">
                            {{ form.interest_rate }}
                        </div>
                        <p class="help is-error">{{ forms.intetest_rate.errors }}</p>

                        <label class="label" for="{{ form.term.id_for_label }}">Term (months)</label>
                        <div class="control">
                            {{ form.term }}
                        </div>
                        <p class="help is-error">{{ forms.term.errors }}</p>

                        <label class="label" for="{{ form.schedule.id_for_label }}">{{ form.schedule.label }}</label>
                        <div class="control">
                            <div class="select">
                                {{ form.schedule }}
                            </div>
                        </div>
                        <p class="help is-error">{{ forms.schedule.errors }}</p>

                        <div class="control">
                            <label class="checkbox">
                                {{ form.applyProceeds }}
                                {{ form.applyProceeds.label}}
                            </label>
                        </div>
                        <p class="help is-error">{{ forms.applyProceeds.errors }}</p>


                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary">Calculate</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column">
                {% if data %}
                <h1 class="title">
                    Results
                </h1>

                <table class="table is-bordered is-striped is-narrow">
                    <tbody>
                        <tr>
                            <th><abbr>Princpal</abbr></th>
                            <td>{{ data.loan.principal | pretty_money:"CAD" }}</td>
                        </tr>
                        <tr>
                            <th><abbr>Interest Rate</abbr></th>
                            <td>{{ data.loan.interest_rate }}%</td>
                        </tr>
                        <tr>
                            <th><abbr>Term</abbr></th>
                            <td>{{ data.loan.term }} month{{ data.loan.term|pluralize }}</td>
                        </tr>
                        <tr>
                            <th><abbr>Schedule</abbr></th>
                            <td>{{ data.loan.schedule | title }}</td>
                        </tr>

                        <tr>
                            <th><abbr>Total Loan</abbr></th>
                            <td>{{ data.loan.total_loan | pretty_money:"CAD" }}</td>
                        </tr>

                        <tr>
                            <th><abbr>Proceeds</abbr></th>
                            <td>{{ data.loan.proceeds | pretty_money:"CAD" }}</td>
                        </tr>

                        <tr>
                            <th><abbr>Total Interest</abbr></th>
                            <td>{{ data.loan.total_interest | pretty_money:"CAD" }}</td>
                        </tr>

                        <tr>
                            <th><abbr>Amount Per Payment</abbr></th>
                            <td>{{ data.loan.amount_per_payment | pretty_money:"CAD" }}</td>
                        </tr>

                        <tr>
                            <th><abbr>Payments Per Month</abbr></th>
                            <td>
                                {{ data.loan.payments_per_month | pretty_money:"CAD" }} payment{{ data.loan.payments_per_month | pluralize }}
                            </td>
                        </tr>


                        <tr>
                            <th><abbr>Total Number of Payments </abbr></th>
                            <td>
                                {{ data.loan.total_number_of_payments }} payment{{ data.loan.total_number_of_payments | pluralize }}
                            </td>
                        </tr>

                        <tr>
                            <th><abbr>Payment Frequency</abbr></th>
                            <td>every {{ data.loan.payment_frequency }} day{{ data.loan.payment_frequency | pluralize}}</td>
                        </tr>

                    </tbody>
                </table>

                {% else %} {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}