{% extends 'base.html' %} {% block title %}Logged out{% endblock %} {% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Logged out!</h1>
        <h2 class="heading">Thank you for spending time with the website today!</h2>
    </div>
</section>
{% endblock %}