{% extends 'base.html' %} {% block title %}Login{% endblock %} {% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">
            Login
        </h1>
        <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    </div>
</section>
{% endblock %}