<div class="field is-grouped has-addons">
    {% if perms.loans.add_loan %}
    <p class="control">
        <a href="{% url 'clients:client_new_loan' object.uuid  %}" class="button is-primary">
            <span class="icon is-small">
                <i class="fa fa-plus"></i>
            </span>
            <span>New Loan</span>
        </a>
    </p>
    {% endif %}
    {% if perms.clients.change_client %}
    <p class="control">
        <a href="{% url 'clients:client_edit_profile' object.uuid  %}" class="button is-primary">
            <span class="icon is-small">
                <i class="fa fa-edit"></i>
            </span>
            <span>Edit Profile</span>
        </a>
    </p>
    {% endif %}
    {% if perms.clients.add_comments and perms.clients.add_notes %}
    <p class="control">
        <a href="{% url 'clients:client_add_note' object.uuid  %}" class="button is-primary">
            <span class="icon is-small">
                <i class="fa fa-sticky-note"></i>
            </span>
            <span>Add Comment</span>
        </a>
    </p>
    {% endif %}
    {% if perms.clients.delete_client %}
    <p class="control">
        <a href="{% url 'clients:client_delete' object.uuid  %}" class="button is-black">
            <span class="icon is-small">
                <i class="fa fa-close"></i>
            </span>
            <span>Delete</span>
        </a>
    </p>
    {% endif %}
</div>