{% load bank_filters %}
<table class="table is-bordered is-striped">
    <tbody>
        <thead>
            <tr>
                <th>Date</th>
                <th>Poster</th>
                <th>Note</th>
            </tr>
        </thead>{% for tx in notes %}
        <tr>
            <td>{{ tx.timestamp | date:"Y/m/d f A" }}</td>
            <td>{{ tx.poster | title }}</td>
            <td>{{ tx.note }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
