 {% load bank_filters %}

<table class="table is-bordered is-striped is-narrow">
    <tbody>
        <tr>
            <th>Title</th>
            <td>{{ object.title }}</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>{{ object.first_name }}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{ object.last_name }}</td>
        </tr>
        <tr>
            <th>Middle Initial</th>
            <td>{{ object.middle_inital }}</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>{{ object.age }}</td>
        </tr>
        <tr>
            <th>Academic Background</th>
            <td>{{ object.academic_background }}</td>
        </tr>
        <tr>
            <th>Home Address</th>
            <td>{{ object.home_address }}</td>
        </tr>
        <tr>
            <th>Permanent Address</th>
            <td>{{ object.permanent_address }}</td>
        </tr>
        <tr>
            <th>Residential Status</th>
            <td>{{ object.residential_status }}</td>
        </tr>
        <tr>
            <th>Telephone Number</th>
            <td>{{ object.telephone_number }}</td>
        </tr>
        <tr>
            <th>Type of Employment</th>
            <td>{{ object.type_of_employment }}</td>
        </tr>
        <tr>
            <th>Monthly Income</th>
            <td>{{ object.monthly_income }}</td>
        </tr>
        <tr>
            <th>Employer</th>
            <td>{{ object.employer }}</td>
        </tr>
        <tr>
            <th>Employer Address</th>
            <td>{{ object.employer_address }}</td>
        </tr>
        <tr>
            <th>Employer Telephone</th>
            <td>{{ object.employer_phone }}</td>
        </tr>
        <tr>
            <th>Employer Relationship</th>
            <td>{{ object.employer_relationship }}</td>
        </tr>
        <tr>
            <th>Employment Length</th>
            <td>{{ object.employment_length }}</td>
        </tr>
    </tbody>
</table>

<h2 class="title">Spouse</h2>

<table class="table is-bordered is-striped is-narrow">
    <tbody>
        <tr>
            <th>Full Name</th>
            <td>{{ object.spouse_full_name }}</td>
        </tr>
        <tr>
            <th>Birthday</th>
            <td>{{ object.spouse_birthday }}</td>
        </tr>
        <tr>
            <th>Employer</th>
            <td>{{ object.spouse_employer }}</td>
        </tr>
        <tr>
            <th>Employment Length</th>
            <td>{{ object.spouse_employment_length }}</td>
        </tr>
        <tr>
            <th>Employer Address</th>
            <td>{{ object.spouse_employer_address }}</td>
        </tr>
        <tr>
            <th>Employer Telephone</th>
            <td>{{ object.spouse_employer_telephone }}</td>
        </tr>
        <tr>
            <th>Job Title</th>
            <td>{{ object.spouse_job_title }}</td>
        </tr>
        <tr>
            <th>Monthly Income</th>
            <td>{{ object.spouse_monthly_income }}</td>
        </tr>
        <tr>
            <th>Telephone Status</th>
            <td>{{ object.spouse_telephone }}</td>
        </tr>
    </tbody>
</table>

<h2 class="title">References</h2>

<table class="table is-bordered is-striped is-narrow">
    <tbody>
        <tr>
            <th>Reference One: Full Name</th>
            <td>{{ object.reference_one_full_name }}</td>
        </tr>
        <tr>
            <th>Reference One: Address</th>
            <td>{{ object.reference_one_address }}</td>
        </tr>
        <tr>
            <th>Reference One: Phone</th>
            <td>{{ object.reference_one_phone }}</td>
        </tr>
        <tr>
            <th>Reference One: Relationship</th>
            <td>{{ object.reference_one_relationship }}</td>
        </tr>
        <tr>
            <th>Reference Two: Full Name</th>
            <td>{{ object.reference_two_full_name }}</td>
        </tr>
        <tr>
            <th>Reference Two: Address</th>
            <td>{{ object.reference_two_address }}</td>
        </tr>
        <tr>
            <th>Reference Two: Phone</th>
            <td>{{ object.reference_two_phone }}</td>
        </tr>
        <tr>
            <th>Reference Two: Relationship</th>
            <td>{{ object.reference_two_relationship }}</td>
        </tr>
    </tbody>
</table>

<h2 class="title">Co-Maker</h2>

<table class="table is-bordered is-striped is-narrow">
    <tbody>
        <tr>
            <th>Full Name</th>
            <td>{{ object.comaker_full_name }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ object.comaker_address }}</td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td>{{ object.comaker_telephone }}</td>
        </tr>
        <tr>
            <th>Relationship</th>
            <td>{{ object.comaker_relationship }}</td>
        </tr>
        <tr>
            <th>Number of Dependents</th>
            <td>{{ object.comaker_number_of_dependents }}</td>
        </tr>
        <tr>
            <th>Job Title</th>
            <td>{{ object.comaker_job_title }}</td>
        </tr>
        <tr>
            <th>Monthly Income</th>
            <td>{{ object.comaker_monthly_income }}</td>
        </tr>
        <tr>
            <th>Reference Two: Relationship</th>
            <td>{{ object.reference_two_relationship }}</td>
        </tr>
    </tbody>
</table>