{% extends 'base.html' %} {% load bank_filters %} {% block title %} Add Comment to Client {% endblock %} {# #############################}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">
                <h1 class="title">
                    Add Comment to Client
                </h1>
                <form method="post">{% csrf_token %} {{ form.non_field_errors }}
                    <div class="field">
                        <label class="label">Note</label>
                        <div class="control">
                            {{ form.note }}
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}