{% extends 'base.html' %} {% load bank_filters %} {% block title %} Clients {% endblock %} {# #} {% block content %}

<section class="section">
    <div class="container">
        <h1 class="title">
            Clients
        </h1>
        <br> {% include "pagination.html" %}
        <br>
        <table class="table is-bordered is-striped">
            <tbody>
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Missed Payments</th>
                    </tr>
                </thead>{% for tx in object_list %}
                <tr>
                    <td><a href="{% url 'clients:client_details' tx.uuid "loan" %}">{{ tx.full_name | title }}</a></td>
                    <td>{{ tx.missed_payments }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}