{% extends 'base.html' %} {% load bank_filters %} {% block title %} Update Client Profile {% endblock %} {# #############################}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-half">
                <h1 class="title">
                    Update Client Profile
                </h1>
                <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Update" />
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}