{% extends 'base.html' %} {% load bank_filters %} {% block title %}Client: {{ object.full_name }}{% endblock %} {############}
{% block content %}


<section class="section">
    <div class="container">
        <h1 class="title">
            {{ object.full_name | title }}
        </h1>
        {% include "clients/_action_buttons.html" %}
        <div class="columns">
            <div class="column is-one-quarter">
                <div class="box">
                    <p>Registered Date</p>
                    <h3 class="title">{{ object.timestamp | date:"Y/m/d" }}</h3>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="box">
                    <p>Branch</p>
                    <h3 class="title"><a href="{{ object.branch.get_absolute_url }}">{{ object.branch.name }}</a></h3>
                </div>
            </div>
            {% if object.missed_payments %}
            <div class="column is-one-quarter">
                <div class="box">
                    <p>Missed Payments</p>
                    <h3 class="title">{{ object.missed_payments }}</h3>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% include "loans/_tab_section.html" %}
{% endblock %}