<div class="field is-grouped has-addons">
    {% if perms.clients.add_client %}
    <p class="control">
        <a href="{% url 'banks:bank_new_client'  object.uuid %}" class="button is-primary">
            <span class="icon is-small">
                <i class="fa fa-user-plus"></i>
            </span>
            <span>New Client</span>
        </a>
    </p>
    {% endif %}
    {% if perms.banks.change_bank %}
    <p class="control">
        <a href="{% url 'banks:bank_rename'  object.uuid %}" class="button is-primary">
            <span class="icon is-small">
                <i class="fa fa-edit"></i>
            </span>
            <span>Rename</span>
        </a>
    </p>
    <p class="control">
        <a href="{% url 'banks:bank_deposit'  object.uuid %}" class="button is-black">
            <span class="icon is-small">
                <i class="fa fa-plus"></i>
            </span>
            <span>Deposit</span>
    </a>
    </p>
    <p class="control">
        <a href="{% url 'banks:bank_widthraw'  object.uuid %}" class="button is-black">
            <span class="icon is-small">
                <i class="fa fa-minus"></i>
            </span>
            <span>Widthraw</span>
    </a>
    </p>
    <p class="control">
        <a href="{% url 'banks:bank_transfer'  object.uuid %}" class="button is-black">
            <span class="icon is-small">
                <i class="fa fa-reply"></i>
            </span>
            <span>Transfer</span>
    </a>
    </p>
    {% endif %}
</div>