{% load bank_filters %}

<table class="table is-bordered is-striped is-narrow">
    <tbody>
        <thead>
            <tr>
                <th><abbr>Bank Name</abbr></th>
                <th>Current Balance</th>
            </tr>
        </thead>{% for bank in banks %}
        <tr>
            <td><abbr><a href="{% url "banks:bank_details" bank.uuid %}">{{bank.name }}</a></abbr></td>
            <td>{{ bank.balance | pretty_money:bank.currency }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>