 {% load bank_filters %}

<table class="table is-bordered is-striped">
    <tbody>
        <thead>
            <tr>
                <th>ID</th>
                <th>Borrower</th>
                <th>Status</th>
                <th>Principal</th>
                <th>Interest Rate</th>
                <th>Proceeds</th>
                <th>Schedule</th>
                <th>Expected</th>
                <th>Collected</th>
            </tr>
        </thead>{% for loan in loans %}
        <tr>
            <td><a href="{{ loan.get_absolute_url }}">{{ loan.pk }}</a></td>
            <td><a href="{{ loan.borrower.get_absolute_url }}">{{ loan.borrower.full_name | title }}</a></td>
            <td>{{ loan.status | title}}</td>
            <td>{{ loan.principal | pretty_money:loan.borrower.branch.currency }}</td>
            <td>{{ loan.interest_rate }}%</td>
            <td>{{ loan.proceeds | pretty_money:loan.borrower.branch.currency }}</td>
            <td>{{ loan.schedule | title }}</td>
            <td>{{ loan.expected | pretty_money:loan.borrower.branch.currency }}</td>
            <td>{{ loan.collected | pretty_money:loan.borrower.branch.currency }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
