 {% load bank_filters %}

<table class="table is-bordered is-striped is-narrow">
    <tbody>
        <thead>
            <tr>
                <th>Loan</th>
                <th>Due Date</th>
                <th>Borrower</th>
                <th>Amount Due</th>
                <th>Paid</th>
                <th>Late</th>
            </tr>
        </thead>{% for payment in payments %}
        <tr>
            <td><a href="{{ payment.loan_id.get_absolute_url }}">{{ payment.loan_id.pk  }}</a></td>
            <td>{{ payment.due_date | date:"Y/m/d" }}</td>
            <td><a href="{{ payment.loan_id.borrower.get_absolute_url }}">{{ payment.loan_id.borrower.full_name | title }}</a></td>
            <td>{{ payment.amount_due | pretty_money:payment.loan_id.borrower.branch.currency }}</td>
            <td>{{ payment.paid }}</td>
            <td class="{% if payment.is_late %}is-error{% else %}is-on-time{% endif %}">{{ payment.is_late }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>