 {% load bank_filters %}

<table class="table is-bordered is-striped is-narrow">
    <tbody>
        <thead>
            <tr>
                <th>Name</th>
                <th>Branch</th>
            </tr>
        </thead>{% for client in clients %}
        <tr>
            <td><a href="{% url 'clients:client_details' client.uuid "loan"%}">{{ client.full_name | title }}</a></td>
            <td>{{ client.branch.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>