 {% load bank_filters %}

<table class="table is-bordered is-striped is-narrow">
    <tbody>
        <thead>
            <tr>
                <th>ID</th>
                <th>Time</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Action</th>
                <th>Amount</th>
                <th>Reason</th>
            </tr>
        </thead>{% for tx in transactions %}
        <tr>
            <td>{{ tx.pk }}</td>
            <td>{{ tx.timestamp | date:"Y/m/d H:i" }}</td>
            {% if tx.source_bank %}
            <td><a href="{% url 'banks:bank_details' tx.source_bank.uuid %}">{{ tx.source_bank.name }}</a></td>
            {% elif tx.source_client %}
            <td>{{ tx.source_client | title }} </td>
            {% endif %} {% if tx.destination_bank %}
            <td><a href="{% url 'banks:bank_details' tx.destination_bank.uuid %}">{{ tx.destination_bank.name }}</a></td>
            {% elif tx.destination_client %}
            <td>{{ tx.destination_client | title }} </td>
            {% endif %}

            <td>{{ tx.action_type | title }}</td>
            {% if tx.source_bank %}
            <td>{{ tx.amount | pretty_money:tx.source_bank.currency }}</td>
            {% elif tx.destination_bank %}
            <td>{{ tx.amount | pretty_money:tx.destination_bank.currency }}</td>
            {% endif %}
            <td>{{ tx.reason }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>