{% extends 'base.html' %} {% load bank_filters %} {% block title %} Banks {% endblock %} {# #} {% block content %}

<section class="section">
    <div class="container">
        <h1 class="title">
            Banks
            <h2 class="subtitle">Total Balance: {{ total_balance | pretty_money:" " }}</h2>
        </h1>
        {% if perms.banks.add_bank %}
        <a class="button is-primary" href="{% url 'banks:new' %}">New Bank</a>
        {% endif %}
        <br> {% include "pagination.html" %}
        <br>
        <table class="table is-bordered is-striped">
            <tbody>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Balance</th>
                    </tr>
                </thead>{% for tx in object_list %}
                <tr>
                    <td><a href="{% url 'banks:bank_details' tx.uuid %}">{{ tx.name }}</a></td>
                    <td>{{ tx.balance | pretty_money:tx.currency }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}