{% extends 'base.html' %} {% load bank_filters %} {% block title %} Rename Bank {% endblock %} {# #############################}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">
                <h1 class="title">
                    Rename Bank
                </h1>
                <form method="post">{% csrf_token %} {{ form.non_field_errors }}
                    <div class="field">
                        <label class="label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                        <div class="control">
                            {{ form.name }}
                        </div>
                        <p class="help is-error">{{ forms.name.errors }}</p>

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-primary">Rename</button>
                            </div>
                            <div class="control">
                                <a href="{% url 'dashboard' %}" class="button is-danger">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}