{% extends 'base.html' %} {% load bank_filters %} {% block title %}{{ object.name }}{% endblock %} {% block content %}


<section class="section">
    <div class="container">
        <h1 class="title">
            {{ object.name }}
        </h1>
        {% include "banks/_action_buttons.html" %}
        <div class="columns">
            <div class="column is-one-quarter">
                <div class="box">
                    <p>Available Balance</p>
                    <h3 class="title">
                        {{ object.balance | pretty_money:object.currency }}
                    </h3>
                </div>
            </div>
            {% if clients_count %}
            <div class="column is-one-quarter">
                <div class="box">
                    <p>Clients</p>
                    <h3 class="title">
                        <a href="{% url 'banks:bank_clients' object.uuid %}">{{ clients_count }}</a>
                    </h3>
                </div>
            </div>
            {% endif %} {% if loans_count %}
            <div class="column is-one-quarter">
                <div class="box">
                    <p>All Loans</p>
                    <h3 class="title">
                        <a href="{% url 'banks:bank_loans' object.uuid %}">{{ loans_count }}</a>
                    </h3>
                </div>
            </div>
            {% endif %} {% if released_loans_count %}
            <div class="column is-one-quarter">
                <div class="box">
                    <p>Released Loans</p>
                    <h3 class="title">
                        {{ released_loans_count }}
                    </h3>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title">
            Latest Transactions
            <small class="subtitle"><a href="{% url 'banks:bank_transactions' object.uuid %}">View All</a></small>
        </h1>
        {% if transactions %} {% include "banks/_recent_transactions.html" %} {% else %}
        <p>No transactions</p>
        {% endif %}
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third">
                <h1 class="title">Latest Clients <small class="subtitle"><a href="{% url 'banks:bank_clients' object.uuid %}">View All</a></small>                    {###}
                </h1> {% if clients %} {% include "banks/_recent_clients.html" %} {% else %}
                <p>No clients</p>
                {% endif %}
            </div>
            <div class="column">
                <h1 class="title">Latest Loans <small class="subtitle"><a href="{% url 'banks:bank_loans' object.uuid %}">View All</a></small>
                </h1>
                {% if loans %} {% include "banks/_loans_list.html" %} {% else %}
                <p>No loans</p>
                {% endif %}

            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title">
            Upcoming Payments
            <small class="subtitle"><a href="{% url 'banks:bank_payments' object.uuid %}">View All</a></small>
        </h1>
        {% if payments %} {% include "banks/_payments_list.html" %} {% else %}
        <p>No Payments </p>
        {% endif %}
    </div>
</section>

{% endblock %}