{% extends 'base.html' %} {% load bank_filters %} {% block title %} {{ bank.name }} - All Clients {% endblock %} {### #}
{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title">
            <a href="{{ bank.get_absolute_url }}">{{ bank.name }}</a> Clients
        </h1>
        <p>Total: {{ clients }}</p>
        <p>Viewing: {{ object_list | length }}</p>
        <br> {% include "pagination.html" %}
        <br>
        <table class="table is-bordered is-striped">
            <tbody>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Registed Date</th>
                        <th>Missed Payments</th>
                    </tr>
                </thead>{% for tx in object_list %}
                <tr>
                    <td><a href="{{ tx.get_absolute_url }}">{{tx.uuid }}</a></td>
                    <td>{{ tx.first_name | title }}</td>
                    <td>{{ tx.last_name | title }}</td>
                    <td>{{ tx.timestamp | date:"Y/m/d H:i" }}</td>
                    <td>{{ tx.missed_payments }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}