{% extends 'base.html' %} {% load bank_filters %}{% block title %}Deposit to {{ bank.name }}{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">
                <h1 class="title">
                    Deposit to {{ bank.name }}
                </h1>
                <strong>Available balance: {{ bank.balance | pretty_money:bank.currency }}</strong>
                <br>
                <form method="post">{% csrf_token %} {{ form.non_field_errors }}
                    <div class="field">

                        <label class="label" for="{{ form.amount.id_for_label }}">{{ form.amount.label }}</label>
                        <div class="control">
                            {{ form.amount }}
                        </div>
                        <p class="help is-error">{{ forms.amount.errors }}</p>
                    </div>
                    <div class="field">

                        <label class="label" for="{{ form.reason.id_for_label }}">{{ form.reason.label }}</label>
                        <div class="control">
                            {{ form.reason }}
                        </div>
                        <p class="help is-error">{{ forms.reason.errors }}</p>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-primary">Deposit</button>
                        </div>
                        <div class="control">
                            <a href="{% url 'banks:bank_details' bank.uuid %}" class="button is-danger">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}