{% extends 'base.html' %} {% load bank_filters %} {% block title %} {{ bank.name }} - All Loans {% endblock %} {# ########}
{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title">
            <a href="{{ bank.get_absolute_url }}">{{ bank.name }}</a> Loans
        </h1>
        <p>Total: {{ loans }}</p>
        <p>Viewing: {{ object_list | length }}</p>
        <br> {% include "pagination.html" %}
        <br>
        <table class="table is-bordered is-striped">
            <tbody>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Borrower</th>
                        <th>Status</th>
                        <th>Principal</th>
                        <th>Proceeds</th>
                        <th>Interest Rate</th>
                        <th>Schedule</th>
                        <th>Payment Method</th>
                        <th>Term</th>
                        <th>Release Date</th>
                        <th>Expected</th>
                        <th>Collected</th>
                    </tr>
                </thead>{% for tx in object_list %}
                <tr>
                    <td><a href="{{ tx.get_absolute_url }}">{{ tx.pk }}</a></td>
                    <td><a href="{{ tx.borrower.get_absolute_url }}">{{ tx.borrower.full_name | title }}</a></td>
                    <td>{{ tx.status | title }}</td>
                    <td>{{ tx.principal | pretty_money:bank.currency }}</td>
                    <td>{{ tx.proceeds | pretty_money:bank.currency }}</td>
                    <td>{{ tx.interest_rate }}%</td>
                    <td>{{ tx.schedule | title }}</td>
                    <td>{{ tx.get_payment_method_display | title }}</td>
                    <td>{{ tx.term | title }}</td>
                    <td>{{ tx.released_date | date:"Y/m/d" }}</td>
                    <td>{{ tx.expected | pretty_money:bank.currency }}</td>
                    <td>{{ tx.collected | pretty_money:bank.currency }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
