{% extends 'base.html' %} {% load bank_filters %} {% block title %}New Client{% endblock %} {% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third">
                <h1 class="title">
                    <a href="{{ bank.get_absolute_url }}">{{ bank.name }}</a> - New Client
                </h1>
                <form method="post">{% csrf_token %} {{ form.non_field_errors }}
                    <div class="field">
                        <label class="label" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                        <div class="control">
                            {{ form.first_name }}
                        </div>
                        <p class="help is-error">{{ forms.first_name.errors }}</p>

                        <label class="label" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                        <div class="control">
                            {{ form.last_name }}
                        </div>
                        <p class="help is-error">{{ forms.last_name.errors }}</p>
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary">Register</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
</section>
{% endblock %}