{% extends 'base.html' %} {% load bank_filters %} {% block title %} {{ bank.name }} - All Payments {% endblock %} {# ########}
{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title">
            <a href="{{ bank.get_absolute_url }}">{{ bank.name }}</a> Payments
        </h1>
        <p>Total: {{ payments }}</p>
        <p>Viewing: {{ object_list | length }}</p>
        <br> {% include "pagination.html" %}
        <br>
        <table class="table is-bordered is-striped">
            <tbody>
                <thead>
                    <tr>
                        <th>Loan</th>
                        <th>Borrower</th>
                        <th>Due Date</th>
                        <th>Amount Due</th>
                        <th>Paid</th>
                        <th>Paid Date</th>
                        <th>Late</th>
                    </tr>
                </thead>{% for tx in object_list %}
                <tr>
                    <td><a href="{{tx.loan_id.get_absolute_url}}">{{ tx.loan_id.pk }}</a></td>
                    <td><a href="{{tx.loan_id.borrower.get_absolute_url}}">{{ tx.loan_id.borrower.full_name | title }}</a></td>
                    <td>{{ tx.due_date | date:"Y/m/d" }}</td>
                    <td>{{ tx.amount_due | pretty_money:bank.currency }}</td>
                    <td>{{ tx.paid }}</td>
                    <td>{{ tx.paid_date | date:"Y/m/d" }}</td>
                    <td class="{% if tx.is_late %}is-error{% else %}is-on-time{% endif %}">{{ tx.is_late }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}