{% extends 'base.html' %} {% load bank_filters %} {% block title %} {{ bank.name }} - All Transactions {% endblock %} {#
#} {% block content %}

<section class="section">
    <div class="container">
        <h1 class="title">
            <a href="{{ bank.get_absolute_url }}">{{ bank.name }}</a> Transactions
        </h1>
        <p>Total: {{ bank.transactions | length }}</p>
        <p>Viewing: {{ object_list | length }}</p>
        <br> {% include "pagination.html" %}
        <br>
        <table class="table is-bordered is-striped">
            <tbody>
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Source</th>
                        <th>Destination</th>
                        <th>Action</th>
                        <th>Amount</th>
                        <th>Reason</th>
                    </tr>
                </thead>{% for tx in object_list %}
                <tr>
                    <td>{{ tx.timestamp | date:"Y/m/d H:i" }}</td>
                    {% if tx.source_bank %}
                    <td><a href="{% url 'banks:bank_details' tx.source_bank.uuid %}">{{ tx.source_bank.name }}</a></td>
                    {% elif tx.source_client %}
                    <td>{{ tx.source_client }} </td>
                    {% endif %} {% if tx.destination_bank %}
                    <td><a href="{% url 'banks:bank_details' tx.destination_bank.uuid %}">{{ tx.destination_bank.name }}</a></td>
                    {% elif tx.destination_client %}
                    <td>{{ tx.destination_client }} </td>
                    {% endif %}
                    <td>{{ tx.action_type | title }}</td>
                    {% if tx.source_bank %}
                    <td>{{ tx.amount | pretty_money:tx.source_bank.currency }}</td>
                    {% elif tx.destination_bank %}
                    <td>{{ tx.amount | pretty_money:tx.destination_bank.currency }}</td>
                    {% endif %}
                    <td>{{ tx.reason }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}