{% load static %}
<a class="clock" href="https://time.is/Manila" id="time_is_link" rel="nofollow" style="font-size:14px">Manila: <span id="Manila_z42c" style="font-size:14px"></span></a>
<script src="{% static 'js/en.js' %}"></script>
<script>
time_is_widget.init({Manila_z42c:{template:"TIME<br>DATE", time_format:"12hours:minutes:secondsAMPM", date_format:"dname monthname dnum year"}});
</script>
