 {% if messages %}
<section class="section">
    <div class="container">
        {% for message in messages %}
        <div class="notification is-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}