</nav>
<nav class="navbar ">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'root' %}">
                {{ SITENAME }}
            </a>
        </div>
        <div class="navbar-burger burger" data-target="navMenuExample">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div id="navMenuExample" class="navbar-menu">

            <div class="navbar-end">
                {% if user.is_authenticated %}
                <a class="navbar-item {% if request.resolver_match.view_name == 'dashboard' %}is-active{% endif %}" href="{% url 'dashboard' %}">
                    Dashboard
                </a>
                <a class="navbar-item {% if request.resolver_match.view_name == 'banks:all'  %}is-active{% endif %}" href="{% url 'banks:all' %}">
                    Banks
                </a>
                <a class="navbar-item {% if request.resolver_match.view_name == 'clients:all'  %}is-active{% endif %}" href="{% url 'clients:all' %}">
                    Clients
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Collections
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item {% if request.resolver_match.view_name == 'loans:all'  %}is-active{% endif %}" href="{% url 'loans:all' %}">
                            All Loans
                        </a>
                        <a class="navbar-item {% if request.resolver_match.view_name == 'loans:released'  %}is-active{% endif %}" href="{% url 'loans:released' %}">
                            Released Loans
                        </a>
                        <a class="navbar-item {% if request.resolver_match.view_name == 'loans:closed'  %}is-active{% endif %}" href="{% url 'loans:closed' %}">
                            Closed Loans
                        </a>
                        <a class="navbar-item {% if request.resolver_match.view_name == 'loans:late_payments'  %}is-active{% endif %}" href="{% url 'loans:late_payments' %}">
                            Late Payments
                        </a>
                        <a class="navbar-item {% if request.resolver_match.view_name == 'loans:query_form'  %}is-active{% endif %}" href="{% url 'loans:query_form' %}">
                            Query
                        </a>
                    </div>
                </div>
                {% endif %}
                <div class="navbar-item">
                    {% if user.is_authenticated %}
                    <p class="control">
                        <a class="button is-blank" href="{% url 'logout' %}">
              <span class="icon">
                <i class="fa fa-user-circle"></i>
              </span>
              <span>Log Out {% if user.is_authenticated %} ({{ user.username | title }}) {% endif %} </span>
            </a>
                    </p>
                    {% else %}
                    <p class="control">
                        <a class="button is-blank" href="{% url 'login' %}">
              <span class="icon">
                <i class="fa fa-sign-in"></i>
              </span>
              <span>Login</span>
            </a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</nav>