{% load static %}
<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ SITENAME }} - {% block title %}{% endblock title %}</title>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bulma -->
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.css">
    {% comment %} <link rel="stylesheet" href="http://192.168.0.204:8000/css/bulma.css"> {% endcomment %}

    <style>
        .is-error {
            background-color: #ff3860;
            color: #fff;
        }

        .is-on-time {
            background-color: green;
            color: white;
        }

        .is-marked-late {
            color: #ff3860;
        }

        .clock {
            position: fixed;
            padding: 8px;
            color: black;
            background: lightgray;
            bottom: 0;
            right: 0;
            border-radius: 3px;
            z-index: 999;
        }
    </style>


</head>

<body>
    {% include "_clock.html" %}
    {% include "_navbar.html" %}

    {% include "_messages.html" %}{% block content %} {% endblock content %}


</body>

</html>