{% if is_paginated %}
<nav class="pagination is-centered">
    {% if page_obj.has_previous %}
    <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">Previous</a> {% endif %} {################}
    {% if page_obj.has_next %}
    <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">Next</a> {% endif %} {################}
    <ul class="pagination-list">
        {% for page in paginator.page_range %}
        <li>
            <a class="pagination-link {% if page == page_obj.number %}is-current{% endif %}" href="?page={{ page }}">{{ page }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}